<div class="modal-header">
    <h3 class="modal-title">{{modalTitle}}</h3>
</div>
<div class="modal-body">
    <form novalidate name="form">
        <div class="form-group">
            <label for="name">Title</label>
            <input type="text" class="form-control" name="name" id="name" placeholder="Name" ng-model="diagram.name" required="">
            <div ng-show="form.$submitted || form.name.$touched">
                <span class="error-message" ng-show="form.name.$error.required">This field is required.</span>
                <span class="success-message" ng-show="form.name.$valid">Thanks!</span>
            </div>
            <span class="info-message" ng-hide="form.$submitted || form.name.$touched">Type in diagram name.</span>
        </div>
        <div class="form-group">
            <label for="description">Description</label>
            <textarea class="form-control" name="description" id="description" placeholder="Description" ng-model="diagram.description" required="" />
            <div ng-show="form.$submitted || form.description.$touched">
                <span class="error-message" ng-show="form.description.$error.required">This field is required.</span>
                <span class="success-message" ng-show="form.description.$valid">Thanks!</span>
            </div>
            <span class="info-message" ng-hide="form.$submitted || form.description.$touched">Type in diagram description.</span>
        </div>
        <div class="form-group">
            <label>Collaborators</label>
            <tags-input ng-model="diagram.collaborators" placeholder="Type email" display-property="email">
                <auto-complete source="findUser($query)"></auto-complete>
            </tags-input>
            <span class="info-message">Enter emails of the collaborators.</span>
        </div>
    </form>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" ng-disabled="!form.$valid" type="button" ng-click="save()">Proceed</button>
    <button class="btn" type="button" ng-click="cancel()">Cancel</button>
</div>
