<div class="modal-header">
    <h3 class="modal-title">Edit personal information</h3>
</div>
<div class="modal-body">
    <div class="row">
        <uib-alert class="custom-alert col-md-offset-1 col-md-10" ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}</uib-alert>
    </div>
    <div class="row">
        <form novalidate name="form">
            <div class="col-md-5">
                <label for="name">Title</label>
                <input type="text" class="form-control" name="name" id="name" placeholder="Name" ng-model="user.fullname" required="">
                <div ng-show="form.$submitted || form.name.$touched">
                    <span class="error-message" ng-show="form.name.$error.required">This field is required.</span>
                    <span class="success-message" ng-show="form.name.$valid">Thanks!</span>
                </div>
                <span class="info-message" ng-hide="form.$submitted || form.name.$touched">Type in diagram name.</span>

            </div>
            <div class="col-md-5">
                <label for="exampleInputEmail1">Email address</label>
                <input type="email" class="form-control" name="email" id="email" placeholder="Email" ng-model="user.email" required="">
                <div ng-show="form.$submitted || form.email.$touched">
                    <span class="error-message" ng-show="form.email.$error.required">Email is required.</span>
                    <span class="error-message" ng-show="form.email.$error.email">Invalid format.</span>
                    <span class="success-message" ng-show="form.email.$valid">Thanks!</span>
                </div>
                <span class="info-message" ng-hide="form.$submitted || form.email.$touched">Type in your email.</span>
            </div>
        </form>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" ng-disabled="!form.$valid" type="button" ng-click="save()">Proceed</button>
    <button class="btn" type="button" ng-click="cancel()">Cancel</button>
</div>
