input.form-control,
textarea.form-control,
tags-input .tags {
  border-radius: 2px;
  border: solid 2px #cccccc;
  box-shadow: none;
  resize: none; }
  input.form-control.ng-invalid.ng-touched,
  textarea.form-control.ng-invalid.ng-touched,
  tags-input .tags.ng-invalid.ng-touched {
    border-color: #f29f97; }
    input.form-control.ng-invalid.ng-touched:focus,
    textarea.form-control.ng-invalid.ng-touched:focus,
    tags-input .tags.ng-invalid.ng-touched:focus {
      border-color: #f29f97;
      box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 2px #e74c3c; }
  input.form-control.ng-valid.ng-touched,
  textarea.form-control.ng-valid.ng-touched,
  tags-input .tags.ng-valid.ng-touched {
    border-color: #7ee2a8; }
    input.form-control.ng-valid.ng-touched:focus,
    textarea.form-control.ng-valid.ng-touched:focus,
    tags-input .tags.ng-valid.ng-touched:focus {
      border-color: #7ee2a8;
      box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 2px #2ecc71; }
  input.form-control:focus, input.form-control.focused,
  textarea.form-control:focus,
  textarea.form-control.focused,
  tags-input .tags:focus,
  tags-input .tags.focused {
    border-color: #55e7ca;
    outline: 0;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 2px #1abc9c; }

button.btn,
a.btn,
div.btn {
  border-radius: 2px;
  transition: border 0.25s linear,color 0.25s linear,background-color 0.25s linear;
  box-shadow: inset 0 -2px 0 rgba(0, 0, 0, 0.15); }
  button.btn.btn-primary,
  a.btn.btn-primary,
  div.btn.btn-primary {
    background-color: #1abc9c;
    border-color: #1abc9c; }
    button.btn.btn-primary:hover,
    a.btn.btn-primary:hover,
    div.btn.btn-primary:hover {
      background-color: #55e7ca;
      border-color: #55e7ca; }
  button.btn:focus,
  a.btn:focus,
  div.btn:focus {
    outline: 0; }

.field-message, .error-message, .info-message, .success-message {
  display: inline-block;
  width: 100%;
  font-size: 12px;
  margin-top: 5px;
  text-align: right; }

.error-message {
  color: #e74c3c; }

.info-message {
  color: #777; }

.success-message {
  color: #2ecc71; }

form label {
  color: #777; }

form .form-group {
  margin-bottom: 5px; }

form button[type="submit"] {
  margin-top: 20px; }

/* TAGS-INPUT */
tags-input .tags li.tag-item {
  background: #1abc9c;
  color: white;
  border-width: 0px; }
  tags-input .tags li.tag-item .remove-button {
    color: white; }
  tags-input .tags li.tag-item.selected {
    background: #c0392b; }

tags-input .autocomplete li.suggestion-item {
  color: #333; }
  tags-input .autocomplete li.suggestion-item.selected {
    background-color: #1abc9c; }

.fa-toggle-on {
  color: #1abc9c; }

ul.pagination > .active > a {
  background-color: #1abc9c;
  border-color: #1abc9c; }
  ul.pagination > .active > a:hover, ul.pagination > .active > a:visited {
    background-color: #1dd2af;
    border-color: #1dd2af;
    cursor: pointer; }

.custom-alert {
  border-width: 5px;
  border-radius: 2px; }
  .custom-alert.alert-danger {
    color: #e74c3c;
    border-color: #f29f97;
    background-color: #fdf3f2; }
  .custom-alert.alert-success {
    color: #2ecc71;
    border-color: #7ee2a8;
    background-color: #d1f5e0; }

.modal-dialog .modal-content {
  border-radius: 2px;
  border-width: 0px; }

.modal-dialog .modal-title {
  color: #5e5e5e; }

.modal-dialog .modal-header {
  background-color: #1abc9c;
  border-bottom: 5px solid #16a085; }

.modal-dialog .modal-header h3 {
  color: white;
  font-size: 16px;
  font-weight: bolder; }

.custom-header .navbar-brand {
  color: white;
  font-weight: bolder; }
  .custom-header .navbar-brand:hover {
    color: #e5e5e5; }

.custom-header.header {
  padding: 0;
  margin: 0;
  z-index: 100; }

.custom-header .navbar {
  margin: 0;
  border: 0;
  background-color: #1abc9c;
  border-bottom: 5px solid #16a085;
  border-radius: 0; }

.custom-header .nav.navbar-nav a {
  color: white; }
  .custom-header .nav.navbar-nav a:hover {
    color: #e5e5e5; }
  .custom-header .nav.navbar-nav a:focus {
    color: white; }

.custom-header .dropdown.open .dropdown-toggle {
  background-color: #16a085; }
  .custom-header .dropdown.open .dropdown-toggle:focus {
    background-color: #16a085;
    color: white; }
  .custom-header .dropdown.open .dropdown-toggle:hover {
    color: white; }

.custom-header .nav.navbar-nav .dropdown-menu a {
  color: #555; }

.link-right {
  float: right;
  font-size: 13px;
  margin-top: 5px; }

.diagram-main {
  position: absolute;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column; }

.toolbar {
  border-top: 0;
  border-left: 0;
  border-right: 0; }

.toolbar.navbar {
  margin: 0; }

.diagram-brand.navbar-brand {
  border-right: 1px solid #ddd;
  color: #1abc9c; }

.fold {
  display: inline-block;
  padding-top: 2px;
  cursor: pointer; }

.tool-panel {
  position: absolute;
  bottom: 0;
  padding: 0;
  height: 70%;
  z-index: 3; }
  .tool-panel.figures {
    left: 0; }
  .tool-panel.comments {
    right: 0; }

.tool-panel > .panel {
  margin-bottom: 0;
  height: 100%; }

.figures .fold {
  float: right; }

.comments .panel-heading {
  text-align: right; }

.comments .fold {
  float: left; }

.tool-panel > .panel .panel-body {
  padding: 0; }

.diagram-container {
  flex-grow: 1;
  display: flex; }

.diagram-canvas {
  flex-grow: 1;
  display: flex; }

.diagram-canvas {
  flex-grow: 1;
  position: relative;
  overflow: hidden;
  z-index: 1; }

.diagram-canvas svg .link {
  z-index: 2; }

.diagram-type {
  margin: 5px; }

div.panel {
  border-radius: 2px; }
  div.panel.panel-primary {
    border-color: #1abc9c; }
  div.panel.panel-primary > .panel-heading {
    background-color: #1abc9c;
    border-color: #1abc9c; }
  div.panel .panel-heading {
    border-radius: 2px; }
  div.panel .panel-title {
    display: inline-block; }

.subpanel {
  border-right: 0;
  border-left: 0; }
  .subpanel .panel-title {
    font-size: 14px; }

uml-class {
  /* Make sure events are propagated to the JointJS element so, e.g. dragging works.*/
  pointer-events: none;
  -webkit-user-select: none;
  position: absolute;
  z-index: 2;
  border: 0; }
  uml-class .uml-class-inner.selected {
    border: 1px #333 dashed; }
  uml-class .panel-cell {
    height: 100%;
    margin: 0px;
    background-color: #9b59b6; }
    uml-class .panel-cell .panel-heading {
      background-color: #8e44ad;
      border-color: #8e44ad;
      color: white;
      text-align: center; }
  uml-class .popover-title {
    color: #333; }
  uml-class .popover {
    color: #333;
    pointer-events: auto;
    width: 300px; }
    uml-class .popover .list-group li, uml-class .popover .dropdown-menu li, uml-class .popover .dropdown-menu a {
      background-color: white;
      color: #333; }
    uml-class .popover .inline-table {
      margin: 0; }
      uml-class .popover .inline-table td {
        border: 0; }
    uml-class .popover .add-argument {
      font-size: 12px; }
    uml-class .popover .panel-footer {
      padding: 5px; }
  uml-class .list-group a, uml-class .list-group li {
    padding: 5px 15px;
    background-color: #a66bbe;
    border: 0;
    color: white; }
    uml-class .list-group a.subheading, uml-class .list-group li.subheading {
      font-weight: bolder;
      background-color: #9b59b6;
      color: white; }
  uml-class .actions {
    float: right; }
  uml-class .btn-action {
    margin-top: -2px;
    background-color: #8e44ad;
    color: white;
    padding: 1px 5px;
    font-size: 12px; }
  uml-class select,
  uml-class input,
  uml-class button,
  uml-class .btn {
    /* Enable interacting with inputs only. */
    pointer-events: auto; }
  uml-class button.delete {
    color: white;
    border: none;
    background-color: #C0392B;
    border-radius: 20px;
    width: 15px;
    height: 15px;
    line-height: 15px;
    text-align: middle;
    position: absolute;
    top: -15px;
    left: -15px;
    padding: 0;
    margin: 0;
    font-weight: bold;
    cursor: pointer; }
    uml-class button.delete:hover {
      width: 20px;
      height: 20px;
      line-height: 20px; }

.dashboard-panel {
  min-height: 200px; }

.no-diagrams {
  text-align: center;
  padding: 20px;
  font-style: italic;
  color: #555; }

.diagrams-list {
  margin: 20px 0px; }

.list-element {
  background-color: transparent;
  text-align: right;
  -webkit-transition: background-color 150ms linear;
  -moz-transition: background-color 150ms linear;
  -o-transition: background-color 150ms linear;
  -ms-transition: background-color 150ms linear;
  transition: background-color 150ms linear; }
  .list-element.pointer:hover {
    -webkit-transition: background-color 150ms linear;
    -moz-transition: background-color 150ms linear;
    -o-transition: background-color 150ms linear;
    -ms-transition: background-color 150ms linear;
    transition: background-color 150ms linear;
    background-color: #ddd;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; }
  .list-element.deleting {
    -webkit-transition: opacity linear 150ms, margin-left linear 150ms;
    -moz-transition: opacity linear 150ms, margin-left linear 150ms;
    -o-transition: opacity linear 150ms, margin-left linear 150ms;
    -ms-transition: opacity linear 150ms, margin-left linear 150ms;
    transition: opacity linear 150ms, margin-left linear 150ms;
    margin-left: -300px;
    opacity: 0; }

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0; }

body {
  padding: 0; }

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px; }

/* Custom page header */
.header {
  /* Make the masthead heading the same height as the navigation */ }
  .header h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px; }

.main-content.container {
  padding-bottom: 40px; }

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #ddd; }

.container-narrow > hr {
  margin: 30px 0; }

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #ddd; }
  .jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px; }

/* Supporting marketing content */
.marketing {
  margin: 40px 0; }
  .marketing p + h4 {
    margin-top: 28px; }

.section-header {
  padding-bottom: 9px;
  margin: 20px 0 40px;
  border-bottom: 1px solid #eee;
  color: #5e5e5e; }

a {
  color: #1abc9c; }
  a:hover {
    color: #1dd2af;
    text-decoration: none; }

.image-view {
  margin-top: 15px;
  width: 100%; }

.edit-image-button {
  position: absolute;
  top: 15px;
  right: 15px; }

.user-edit-image-container {
  position: relative; }

.position-relative {
  position: relative; }

.list-panel-body {
  padding-top: 5px; }

.list-element-control {
  top: 0;
  margin-left: 5px;
  padding: 0;
  vertical-align: middle;
  color: #777; }
  .list-element-control.pointer-delete:hover {
    cursor: pointer;
    color: #c0392b; }
  .list-element-control.pointer-primary:hover {
    cursor: pointer;
    color: #333; }

.delete-reject-container {
  padding: 5px 14px;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: block;
  opacity: 1;
  cursor: default;
  background-color: #e5e5e5;
  background-image: repeating-linear-gradient(45deg, transparent, transparent 5px, rgba(255, 255, 255, 0.5) 5px, rgba(255, 255, 255, 0.5) 10px); }

.delete-reject-container.ng-hide-add,
.delete-reject-container.ng-hide-remove {
  -webkit-transition: opacity linear 150ms;
  -moz-transition: opacity linear 150ms;
  -o-transition: opacity linear 150ms;
  -ms-transition: opacity linear 150ms;
  transition: opacity linear 150ms; }

.delete-reject-container.ng-hide {
  opacity: 0; }
