input.form-control,
textarea.form-control {
  border-radius: 2px;
  border-width: 2px;
  resize: none; }
  input.form-control.ng-invalid.ng-touched,
  textarea.form-control.ng-invalid.ng-touched {
    border-color: #f29f97; }
    input.form-control.ng-invalid.ng-touched:focus,
    textarea.form-control.ng-invalid.ng-touched:focus {
      border-color: #f29f97;
      box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 2px #e74c3c; }
  input.form-control.ng-valid.ng-touched,
  textarea.form-control.ng-valid.ng-touched {
    border-color: #7ee2a8; }
    input.form-control.ng-valid.ng-touched:focus,
    textarea.form-control.ng-valid.ng-touched:focus {
      border-color: #7ee2a8;
      box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 2px #2ecc71; }
  input.form-control:focus,
  textarea.form-control:focus {
    border-color: #55e7ca;
    outline: 0;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 2px #1abc9c; }

button.btn {
  border-radius: 2px;
  transition: border 0.25s linear,color 0.25s linear,background-color 0.25s linear;
  box-shadow: inset 0 -2px 0 rgba(0, 0, 0, 0.15); }
  button.btn.btn-primary {
    background-color: #1abc9c;
    border-color: #1abc9c; }
    button.btn.btn-primary:hover {
      background-color: #55e7ca;
      border-color: #55e7ca; }
  button.btn:focus {
    outline: 0; }

.field-message, .error-message, .info-message, .success-message {
  display: inline-block;
  width: 100%;
  font-size: 12px;
  margin-top: 5px;
  text-align: right; }

.error-message {
  color: #e74c3c; }

.info-message {
  color: #777; }

.success-message {
  color: #2ecc71; }

form label {
  color: #777; }

form .form-group {
  margin-bottom: 5px; }

form button[type="submit"] {
  margin-top: 20px; }

.custom-alert {
  border-width: 5px;
  border-radius: 2px; }
  .custom-alert.alert-danger {
    color: #e74c3c;
    border-color: #f29f97;
    background-color: #fdf3f2; }
  .custom-alert.alert-success {
    color: #2ecc71;
    border-color: #7ee2a8;
    background-color: #d1f5e0; }

.modal-dialog .modal-content {
  border-radius: 2px;
  border-width: 0px; }

.modal-dialog .modal-title {
  color: #5e5e5e; }

.modal-dialog .modal-header {
  background-color: #1abc9c;
  border-bottom: 5px solid #16a085; }

.modal-dialog .modal-header h3 {
  color: white;
  font-size: 16px;
  font-weight: bolder; }

.custom-header .navbar-brand {
  color: white;
  font-weight: bolder; }
  .custom-header .navbar-brand:hover {
    color: #e5e5e5; }

.custom-header.header {
  padding: 0;
  margin: 0; }

.custom-header .navbar {
  margin: 0;
  border: 0;
  background-color: #1abc9c;
  border-bottom: 5px solid #16a085;
  border-radius: 0; }

.custom-header .nav.navbar-nav a {
  color: white; }
  .custom-header .nav.navbar-nav a:hover {
    color: #e5e5e5; }

.custom-header .dropdown.open .dropdown-toggle {
  background-color: #16a085; }
  .custom-header .dropdown.open .dropdown-toggle:focus {
    background-color: #16a085;
    color: white; }
  .custom-header .dropdown.open .dropdown-toggle:hover {
    color: white; }

.custom-header .nav.navbar-nav .dropdown-menu a {
  color: #555; }

.link-right {
  float: right;
  font-size: 13px;
  margin-top: 5px; }

.diagram-main {
  position: absolute;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column; }

.toolbar {
  border-top: 0;
  border-left: 0;
  border-right: 0; }

.toolbar.navbar {
  margin: 0; }

.diagram-brand.navbar-brand {
  border-right: 1px solid #e5e5e5;
  color: #1abc9c; }

.tool-panel {
  position: absolute;
  top: 150px;
  padding: 0px; }
  .tool-panel:first-child {
    left: 0px; }
  .tool-panel:last-child {
    right: 0px; }

.diagram-container {
  flex-grow: 1; }

.diagram-canvas {
  height: 100%;
  width: 100%; }

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0; }

body {
  padding: 0; }

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px; }

/* Custom page header */
.header {
  /* Make the masthead heading the same height as the navigation */ }
  .header h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px; }

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5; }

.container-narrow > hr {
  margin: 30px 0; }

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5; }
  .jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px; }

/* Supporting marketing content */
.marketing {
  margin: 40px 0; }
  .marketing p + h4 {
    margin-top: 28px; }

.section-header {
  padding-bottom: 9px;
  margin: 20px 0 40px;
  border-bottom: 1px solid #eee;
  color: #5e5e5e; }

a {
  color: #1abc9c; }
  a:hover {
    color: #1dd2af;
    text-decoration: none; }
