<div ng-controller="CellMethodsCtrl">
    <h4 ng-show="status === 'viewing'">Methods</h4>
    <h4 ng-show="status === 'editing'">Editing method</h4>
    <h4 ng-show="status === 'adding'">Adding method</h4>

    <div ng-show="status === 'viewing'">
        <ul class="list-group diagrams-list">
            <li class="list-group-item list-element pointer"
                ng-repeat="method in methods" ng-click="editMethod(method)">
                <span class="pull-left">{{method | formatMethod}}</span>
                                        <span class="glyphicon glyphicon-remove list-element-control pointer-delete"
                                              ng-click="deleteMethod(method)"></span>
            </li>
        </ul>
        <div ng-hide="" class="no-methods">No mothods yet!</div>
        <button class="btn btn-primary glyphicon glyphicon-plus with-text" ng-click="showEditForm()">Add</button>
    </div>

    <div ng-hide="status === 'viewing'">
        <form>
            <div class="form-group">
                <label>Method name:</label>
                <input type="text" ng-model="method.name" class="form-control">
            </div>
            <div class="form-group">
                <label>Return type:</label>
                <input type="text" ng-model="method.returnType" class="form-control">
            </div>
            <label>Arguments:</label>

            <div class="panel panel-default">
                <table class="table">
                    <thead>
                    <tr>
                        <th>Type</th>
                        <th>Name</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="argument in method.args">
                        <td>{{argument.type}}</td>
                        <td>{{argument.name}}</td>
                        <td></td>
                    </tr>
                    </tbody>
                </table>
                <div class="panel-footer">
                    <table class="table inline-table">
                        <tr>
                            <td>
                                <input type="text" class="form-control" ng-model="newArg.type" placeholder="Type">
                            </td>
                            <td>
                                <input type="text" class="form-control" ng-model="newArg.name" placeholder="Name">
                            </td>
                            <td>
                                <button class="btn btn-primary glyphicon glyphicon-plus add-argument"
                                        type="button" ng-click="addArgument()"></button>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
            <button class="btn btn-primary" type="button" ng-click="addMethod(method)">Add</button>
            <button class="btn btn-default" type="button" ng-click="hideEditForm()">Close</button>
        </form>

    </div>
</div>
