<form>
    <div class="checkbox">
        <label><input type="checkbox" ng-model="field.isStatic">Static</label>
    </div>
    <div class="form-group">
        <label>Access modifier</label>
        <div class="btn-group">
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                {{field.accessModifier}}
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
                <li><a href="#">Public</a></li>
                <li><a href="#">Private</a></li>
                <li><a href="#">Protected</a></li>
                <li><a href="#">Default</a></li>
            </ul>
        </div>
    </div>
    <div class="form-group">
        <label>Field type:</label>
        <input type="text" ng-model="field.type" class="form-control" placeholder="Type">
    </div>
    <div class="form-group">
        <label>Field name:</label>
        <input type="text" ng-model="field.name" class="form-control" placeholder="Name">
    </div>
    <button class="btn btn-primary" type="button" ng-click="addField()">Add</button>
    <button class="btn btn-default" type="button" ng-click="closeField()">Close</button>
</form>
