<form>
    <div class="form-group">
        <label>Method name:</label>
        <input type="text" ng-model="method.name" class="form-control">
    </div>
    <div class="form-group">
        <label>Return type:</label>
        <input type="text" ng-model="method.returnType" class="form-control">
    </div>
    <label>Arguments:</label>
    <div class="panel panel-default">
        <table class="table">
            <thead>
                <tr>
                    <th>Type</th>
                    <th>Name</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>String</td>
                    <td>name</td>
                    <td></td>
                </tr>
            </tbody>
        </table>
        <div class="panel-footer">
        <table class="table inline-table">
            <tr>
                <td>
                    <input type="text" class="form-control" placeholder="Type">
                </td>
                <td>
                    <input type="text" class="form-control" placeholder="Name">
                </td>
                <td>
                    <button class="btn btn-primary glyphicon glyphicon-plus add-argument" type="button"></button>
                </td>
            </tr>
        </table>
        </div>
    </div>
    <button class="btn btn-primary" type="button" ng-click="addMethod()">Add</button>
    <button class="btn btn-default" type="button" ng-click="closeMethod()">Close</button>
</form>
