<div class="navbar navbar-default" role="navigation" ng-controller="NavCtrl">
    <div class="container">
        <div class="navbar-header">

            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#js-navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

            <a class="navbar-brand" href="#/">JUmlIt</a>
        </div>

        <div class="collapse navbar-collapse" id="js-navbar-collapse">

            <ul class="nav navbar-nav">
                <li ng-show="root.authenticated" class="active"><a ui-sref="home">Home</a></li>
                <li ng-hide="root.authenticated"><a ui-sref="register">Register</a></li>
                <li><a ui-sref="about">About</a></li>
            </ul>

            <ul class="nav navbar-nav navbar-right">
                <li ng-hide="root.authenticated"><a ui-sref="login">Sign in</a></li>
                <li ng-show"root.authenticated" class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">Action</a></li>
                        <li><a href="#">Another action</a></li>
                        <li><a href="#">Something else here</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="#">Separated link</a></li>
                    </ul>
                </li>
            </ul>

        </div>
    </div>
</div>
