<div class="tool-panel-container" ng-controller="RelationshipSettingsCtrl">
    <div class="panel panel-default">
        <div class="panel-heading">Relationship settings</div>
        <div class="panel-body">
            <uib-tabset>
                <uib-tab heading="General">
                    <form>
                        <div class="form-group">
                            <label>Type</label>

                            <div class="btn-group">
                                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown"
                                        aria-haspopup="true" aria-expanded="false">
                                    {{relationship.type}}
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu">
                                    <li>
                                        <a href="javascript:void(0)" ng-repeat="(key, value) in relationshipTypes"
                                           ng-click="setType(value)">{{value}}</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div ng-show="showNameInput()" class="form-group">
                            <label>Name:</label>
                            <input type="text" ng-model="relationship.name" class="form-control" placeholder="Name">
                        </div>
                        <div class="form-group">
                            <label>Multiplicity</label>

                            <div class="dropdown-double">
                                <div class="btn-group dropdown-half">
                                    <span>{{relationship.primaryMember.name}}</span>
                                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown"
                                            aria-haspopup="true" aria-expanded="false">
                                        {{relationship.primaryToSecondaryMultiplicity || 'None'}}
                                        <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu">
                                        <li>
                                            <a href="javascript:void(0)" ng-repeat="(key, value) in multiplicityTypes"
                                               ng-click="relationship.primaryToSecondaryMultiplicity = value">{{value || 'None'}}</a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="btn-group dropdown-half">
                                    <span>{{relationship.secondaryMember.name}}</span>
                                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown"
                                            aria-haspopup="true" aria-expanded="false">
                                        {{relationship.secondaryToPrimaryMultiplicity || 'None'}}
                                        <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu">
                                        <li>
                                            <a href="javascript:void(0)" ng-repeat="(key, value) in multiplicityTypes"
                                               ng-click="relationship.secondaryToPrimaryMultiplicity = value">{{value || 'None'}}</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label>Direction</label>
                            <button type="button" class="btn btn-default btn-reverse fa fa-arrows-h" ng-click="reverse()">Reverse</button>
                        </div>
                    </form>
                </uib-tab>
            </uib-tabset>
        </div>
    </div>
</div>
