<div class="uml-class-inner" ng-class="{'selected': selected, 'static': clazz.isStatic}">
    <button class="delete">x</button>
    <div class="panel panel-default panel-cell">
        <div class="panel-heading">
            <h3 class="panel-title">
                <span class="class-type" ng-hide="clazz.classType === classTypes.CLASS">
                    {{clazz.classType | formatClassType}}
                </span>
                <span class="class-name">{{clazz.name}}</span>
            </h3>
        </div>
        <ul class="list-group">
            <li href="#" class="list-group-item" ng-repeat="method in clazz.methods">
                <i ng-show="method.accessModifier === accessModifiers.PUBLIC" class="fa fa-plus access-modifier"></i>
                <i ng-show="method.accessModifier === accessModifiers.PRIVATE" class="fa fa-minus access-modifier"></i>
                <i ng-show="method.accessModifier === accessModifiers.PROTECTED" class="fa fa-hash access-modifier"></i>
                <i ng-show="method.accessModifier === accessModifiers.DEFAULT" class="fa fa-tilde access-modifier"></i>
                <span ng-class="{'static': method.isStatic}">{{method | formatMethod}}</span>
            </li>
            <li href="#" class="list-group-item no-methods" ng-hide="clazz.methods.length">No methods</li>

            <li href="#" class="list-group-item divider"></li>
            <li href="#" class="list-group-item" ng-repeat="field in clazz.fields">
                <i ng-show="field.accessModifier === accessModifiers.PUBLIC" class="fa fa-plus access-modifier"></i>
                <i ng-show="field.accessModifier === accessModifiers.PRIVATE" class="fa fa-minus access-modifier"></i>
                <i ng-show="field.accessModifier === accessModifiers.PROTECTED" class="fa fa-hash access-modifier"></i>
                <i ng-show="field.accessModifier === accessModifiers.DEFAULT" class="fa fa-tilde access-modifier"></i>
                <span ng-class="{'static': field.isStatic}">{{field | formatField}}</span>
            </li>
            <li href="#" class="list-group-item no-fields" ng-hide="clazz.fields.length">No fields</li>
        </div>
    </div>
</div>
