<div class="uml-class-inner" ng-class="{'selected': selected}">
    <button class="delete">x</button>
    <div class="panel panel-default panel-cell">
        <div class="panel-heading">
            <h3 class="panel-title">{{class.name}}</h3>
        </div>
        <ul class="list-group">
            <li href="#" class="list-group-item subheading">
                Methods
                <div class="btn-group actions">
                </div>
            </li>
            <li href="#" class="list-group-item" ng-repeat="method in class.methods">{{method | formatMethod}}</li>
            <li href="#" class="list-group-item no-methods" ng-hide="class.methods.length">No methods</li>

            <li href="#" class="list-group-item subheading">
                Fields
            </li>
            <li href="#" class="list-group-item" ng-repeat="field in class.fields">{{field | formatField}}</li>
            <li href="#" class="list-group-item no-fields" ng-hide="class.fields.length">No fields</li>
        </div>
    </div>
</div>
