<div class="container">
    <h3 class="section-header">Dashboard</h3>
    <div class="row">
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">User</div>
                <div class="panel-body">
                    <button type="button" class="btn btn-primary" ng-click="editDetails()">Edit details</button>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">Diagrams
                <button class="btn btn-success btn-xs pull-right" ng-click="createDiagram()"><span class="glyphicon glyphicon-plus"></span> Add new</button>
                </div>
                <div class="panel-body list-panel-body">
                    <div class="list-element list-element-pointer" ng-repeat="diagram in diagrams" ng-click="openDiagram(diagram)">
                        <span>{{diagram.title}}</span></div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">News</div>
                <div class="panel-body"></div>
            </div>
        </div>
    </div>
</div>
