<div class="container">
    <h3 class="section-header">Dashboard</h3>

    <div class="row">
        <div class="col-md-3">
            <div class="panel panel-default dashboard-panel">
                <div class="panel-heading">
                    <i class="fa fa-user fa-5x"></i>

                    <h3>{{user.fullname}}</h3>
                </div>
                <div class="panel-body">
                    <dl>
                        <dt>Email</dt>
                        <dd>{{user.email}}</dd>
                    </dl>
                    <dl>
                        <dt>Notifications</dt>
                        <dd><i class="toggle fa fa-toggle-on fa-2x"></i> On</dd>
                    </dl>

                    <!-- <button type="button" class="btn btn-primary" ng-click="editDetails()">Edit details</button> -->
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel panel-default dashboard-panel">
                <div class="panel-heading"><h3 class="panel-title">Diagrams</h3>
                    <button class="btn btn-success btn-xs pull-right" ng-click="createDiagram()"><span
                            class="glyphicon glyphicon-plus"></span> Add new
                    </button>
                </div>
                <div class="panel-body dashboard-panel">
                    <uib-tabset>
                        <uib-tab heading="My diagrams">
                            <ul class="list-group diagrams-list">
                                <li class="list-group-item list-element pointer"
                                    ng-repeat="diagram in ownDiagrams.page" ng-click="openDiagram(diagram.diagramId)">
                                    <span class="list-element-text pull-left">{{diagram.name}}</span>
                                    <span class="glyphicon glyphicon-cog list-element-control pointer-primary"
                                          ng-click="editDiagram(diagram.diagramId); $event.stopPropagation();"></span>
                                    <span class="glyphicon glyphicon-remove list-element-control pointer-delete"
                                          ng-click="deleteDiagram(diagram.diagramId); $event.stopPropagation();"></span>
                                    <div class="delete-reject-container" ng-show="diagram.deleted"
                                         ng-click="$event.stopPropagation();" id="deleteContainer{{diagram.diagramId}}">
                                        <span class="pull-left">{{diagram.name}} removed</span>
                                        <span class="list-element-control"
                                              ng-click="cancelDeleting(diagram.diagramId); $event.stopPropagation();">
                                            <a href="">Cancel</a>
                                        </span>
                                    </div>
                                </li>
                            </ul>
                            <div class="no-diagrams" ng-hide="ownDiagrams.list.length">No diagrams yet!</div>
                            <uib-pagination total-items="ownDiagrams.list.length"
                                            ng-model="ownDiagrams.pageNum" ng-change="fillOwnDiagramsPage()"
                                            class="pagination-sm" boundary-links="true"
                                            rotate="false" items-per-page="pageSize"
                                            previous-text="&lsaquo;" next-text="&rsaquo;"
                                            first-text="&laquo;" last-text="&raquo;"
                                            ng-show="ownDiagrams.list.length > pageSize"
                                            ></uib-pagination>
                        </uib-tab>
                        <uib-tab heading="Collaborate to">
                            <ul class="list-group diagrams-list">
                                <li class="list-group-item list-element pointer"
                                   ng-repeat="diagram in collabDiagrams.page" ng-click="openDiagram(diagram.diagramId)">
                                    <span class="list-element-text pull-left">{{diagram.name}}</span>
                                    <span class="list-element-text pull-right"><a ng-click="goToUser(); $event.stopPropagation();">by username</a></span>
                                    <span class="glyphicon"></span>
                                </li>
                            </ul>
                            <div class="no-diagrams" ng-hide="collabDiagrams.list.length">No diagrams yet!</div>
                            <uib-pagination total-items="collabDiagrams.list.length"
                                            ng-model="collabDiagrams.pageNum" ng-change="fillCollabDiagramsPage()"
                                            max-size="maxPages" class="pagination-sm" boundary-links="true"
                                            rotate="false"
                                            previous-text="&lsaquo;" next-text="&rsaquo;"
                                            first-text="&laquo;" last-text="&raquo;"
                                            ng-show="collabDiagrams.list.length > pageSize"></uib-pagination>
                        </uib-tab>
                    </uib-tabset>
                </div>
            </div>
        </div>
        <div class="col-md-5">
            <div class="panel panel-default dashboard-panel">
                <div class="panel-heading"><h3 class="panel-title">Notifications</h3>
                    <a ui-sref="account.notifications" class="pull-right">view All</a>
                </div>
                <div class="panel-body"></div>
            </div>
        </div>
    </div>
</div>
