<div class="diagram-main">
    <div class="header custom-header" ng-include="'templates/diagram-navbar.html'"></div>
    <nav class="toolbar navbar navbar-default">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <a class="diagram-brand navbar-brand" href="#">{{diagram.name}}</a>
        </div>

        <ul class="nav action-nav">
            <li class="action-tile">
                <div class="btn-group" role="group">
                    <button class="btn btn-default fa fa-undo"></button>
                    <button class="btn btn-default fa fa-repeat"></button>
                </div>

                <div class="btn-group" role="group">
                    <button class="btn btn-default fa fa-floppy-o"></button>
                    <button class="btn btn-default fa fa-history"></button>
                </div>
                <div class="btn-group" role="group">
                    <button class="btn btn-default" ng-click="openHistory()">History</button>
                </div>
            </li>
            <li class="action-tile action-tile-right">
                <div class="btn-group" role="group">
                    <button type="button" class="btn btn-primary fa fa-users"
                            uib-popover-template="'templates/collaborators-popover.html'"
                            popover-placement="bottom"
                            popover-title="Collaborators">
                    </button>
                    <button type="button" class="btn btn-primary fa fa-comments" ng-click="toggleComments()"></button>
                </div>
            </li>
        </ul>
    </nav>
    <div class="diagram-workspace">
        <div class="workspace-col" ng-include="'templates/diagram-tools.html'"></div>
        <diagram-canvas classes="diagram.classes" relationships="diagram.relationships"></diagram-canvas>
        <div class="workspace-col tool-blocks">
            <div class="tool-block" ng-include="'templates/clazz-settings.html'" ng-show="showSettings"></div>
            <div class="tool-block" ng-include="'templates/relationship-settings.html'"
                 ng-show="showRelationshipSettings"></div>
            <div class="tool-block" ng-include="'templates/comments.html'" ng-show="showComments"></div>
        </div>
    </div>
</div>
