@import 'color-palette';
uml-class {
    /* Make sure events are propagated to the JointJS element so, e.g. dragging works.*/
    pointer-events: none;
    -webkit-user-select: none;
    position: absolute;
    z-index: 2;

    .class-name {
      font-weight: bolder;
    }

    .access-modifier {
      margin-right: 5px;
      font-weight: bolder;
    }

    .uml-class-inner {
      border: 2px solid $uml-class-heading;

      &.selected {
        border: 2px dashed;
        border-color: white $uml-class-heading;
      }

    }

    .static {
      padding-bottom: 1px;
      border-bottom: 2px solid;
    }

    .class-type {
      display: inline-block;
      width: 100%;
      font-size: 13px;
      margin-bottom: 4px;
    }


    .panel-cell {
        height: 100%;
        margin: 0px;
        border: 0;
        border-radius: 0px;
        background-color: $uml-class-body;

        .panel-heading {
            background-color: $uml-class-heading;
            border-color: $uml-class-heading;
            color: white;
            text-align: center;
        }
    }

    .popover-title {
        color: $font-color-dark;
    }

    .popover {
        color: $font-color-dark;
        pointer-events: auto;
        width: 300px;

        .list-group li, .dropdown-menu li, .dropdown-menu a{
            background-color: white;
            color: $font-color-dark;
        }


        .add-argument {
            font-size: 12px;
        }

        .panel-footer {
            padding: 5px;
        }
    }


    .list-group a, .list-group li {
        padding: 5px 15px;
        background-color: $uml-class-list;
        border: 0;
        color: white;

        &.subheading {
            font-weight: bolder;
            background-color: $uml-class-body;
            color: white;
        }
    }

    .actions {
        float: right;
    }

    .btn-action {
        margin-top: -2px;
        background-color: $uml-class-action-background;
        //border: 1px solid $uml-class-action-border;
        color: white;
        padding: 1px 5px;
        font-size: 12px;
    }


    select,
    input,
    button,
    .btn {
        /* Enable interacting with inputs only. */
        pointer-events: auto;
    }

    button.delete {
        color: white;
        border: none;
        background-color: #C0392B;
        border-radius: 20px;
        width: 15px;
        height: 15px;
        line-height: 15px;
        text-align: center;
        position: absolute;
        top: -15px;
        left: -15px;
        padding: 0;
        margin: 0;
        font-weight: bold;
        cursor: pointer;

        &:hover {
            width: 20px;
            height: 20px;
            line-height: 20px;
        }
    }

    .no-fields, .no-methods {
      font-style: italic;
      padding: 5px;
    }

    .list-group-item.divider {
      padding: 1px;
      background-color: $uml-class-action-border;
    }
}

.fa-tilde:before { content: '~'; }
.fa-hash:before { content: '#'; }
