$color-primary: #1abc9c;
$color-error: #e74c3c;
$color-success: #2ecc71;
$color-warning: #f39c12;
$color-primary-darker: #16a085;
$color-delete: #c0392b;

$font-color-light: #e5e5e5;
$font-color: #777;
$font-color-darker: #5e5e5e;
$font-color-darker1: #555;
$font-color-dark: #333;

$input-border-color: #cccccc;

$panel-color-light: #e5e5e5;
$panel-color-darker: #eeeeee;
$panel-color: #f5f5f5;

$border-color: #ddd;
$border-color-dark: #333;
$border-color-light: #e7e7e7;

$uml-class-heading: #8e44ad;
$uml-class-body: #9b59b6;
$uml-class-list: lighten($uml-class-body, 5);
$uml-class-action-border: #8e44ad;
$uml-class-action-background: #8e44ad;

$uml-action-delete: #c0392b;
$uml-action-link: black;
$uml-action-settings: black;

$diagram-padding-color: #eeeeee;
