$color-primary: #1abc9c;
$color-error: #e74c3c;
$color-success: #2ecc71;
$color-warning: #f39c12;
$color-primary-darker: #16a085;

$font-color-light: #e5e5e5;
$font-color: #777;
$font-color-darker: #5e5e5e;
$font-color-darker1: #555;

$panel-color-light: #e5e5e5;
$border-color: #ddd;
