@import 'color-palette';

.comments.tool-panel-container {
  .panel {
    flex: 1;
    border-top: 0;
    border-radius: 0;
    margin-bottom: 0;
    display: flex;
    flex-direction: column;
  }

  .panel-heading {
    border-radius: 0;
  }
}

.comments .panel-footer.comment-input-container {
  border-top-width: 1px;
  border-top: 1px solid $border-color;
}

.comments-list-container {
  flex: 1;
  overflow: auto;
  height: 0;
}

.comments .comments-list {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;

  li.list-group-item {
    //&:first-child {
    //  border-top: 1px solid $border-color;
    //  border-width: 1px;
    //}

    &:last-child {
      border-bottom: 0;
    }
  }
}

.btn-send {
  margin-top: 10px;
}

.comment-author {
  color: $color-primary;
  font-weight: bold;
}

.comment-date {
  float: right;
  color: $font-color-lighter;
  font-size: 13px;
}

.comment-text {
  display: inline-block;
  width: 100%;
  padding-top: 5px;
  padding-bottom: 2px;
}