@import 'color-palette';

.dashboard-panel {
  min-height: 200px;
}

.no-diagrams {
  text-align: center;
  padding: 20px;
  font-style: italic;
  color: $font-color-darker1;
}

.diagrams-list {
  margin: 20px 0px;
}

.list-element {
  background-color: transparent;
  text-align: right;
  -webkit-transition: background-color 150ms linear;
  -moz-transition: background-color 150ms linear;
  -o-transition: background-color 150ms linear;
  -ms-transition: background-color 150ms linear;
  transition: background-color 150ms linear;
  &.pointer {
    &:hover {
      -webkit-transition: background-color 150ms linear;
      -moz-transition: background-color 150ms linear;
      -o-transition: background-color 150ms linear;
      -ms-transition: background-color 150ms linear;
      transition: background-color 150ms linear;
      background-color: $border-color;
      -ms-touch-action: manipulation;
      touch-action: manipulation;
      cursor: pointer;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
    }
  }
  &.deleting {
    -webkit-transition: opacity linear 150ms, margin-left linear 150ms;
    -moz-transition: opacity linear 150ms, margin-left linear 150ms;
    -o-transition: opacity linear 150ms, margin-left linear 150ms;
    -ms-transition: opacity linear 150ms, margin-left linear 150ms;
    transition: opacity linear 150ms, margin-left linear 150ms;
    margin-left: -300px;
    opacity: 0;
  }
}

