@import "color-palette.scss";

.diagram-main {
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.toolbar {
    border-top: 0;
    border-left: 0;
    border-right: 0;
};

.toolbar.navbar {
    margin: 0;
}


.diagram-brand.navbar-brand{
    border-right: 1px solid $border-color;
    color: $color-primary;
}

.tool-panel {
    position: absolute;
    top: 150px;
    padding: 0px;

    &:first-child {
        left: 0px;
    }

    &:last-child {
        right: 0px;
    }
}

.diagram-container {
    flex-grow: 1;
}

.diagram-canvas {
    height: 100%;
    width: 100%;
}
