@import 'color-palette';
@import 'forms';
@import 'alerts';
@import 'modals';
@import 'navbar';
@import 'register';
@import 'diagram';
@import 'panels';
@import 'cell';
.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

body {
    padding: 0;
}


/* Everything but the jumbotron gets side spacing for mobile first views */

.header,
.marketing,
.footer {
    padding-left: 15px;
    padding-right: 15px;
}


/* Custom page header */

.header {
    /* Make the masthead heading the same height as the navigation */
    h3 {
        margin-top: 0;
        margin-bottom: 0;
        line-height: 40px;
        padding-bottom: 19px;
    }
}

.main-content.container {
    padding-bottom: 40px;
}


/* Custom page footer */

.footer {
    padding-top: 19px;
    color: $font-color;
    border-top: 1px solid $border-color;
}

.container-narrow > hr {
    margin: 30px 0;
}


/* Main marketing message and sign up button */

.jumbotron {
    text-align: center;
    border-bottom: 1px solid $border-color;
    .btn {
        font-size: 21px;
        padding: 14px 24px;
    }
}


/* Supporting marketing content */

.marketing {
    margin: 40px 0;
    p + h4 {
        margin-top: 28px;
    }
}

.section-header {
    padding-bottom: 9px;
    margin: 20px 0 40px;
    border-bottom: 1px solid #eee;
    color: $font-color-darker;
}

a {
    color: $color-primary;
    &:hover {
        color: lighten($color-primary, 5%);
        text-decoration: none;
    }
}

.image-view {
    margin-top: 15px;
    width: 100%;
}

.edit-image-button {
    position: absolute;
    top: 15px;
    right: 15px;
}

.user-edit-image-container {
    position: relative;
}

.position-relative {
    position: relative;
}

.list-element {
    position: relative;
    border-bottom: 1px solid $panel-color-light;
    padding: 5px 14px;
    box-shadow: none !important;
    background-color: transparent;
    width: 100%;
    text-align: right;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.42857143;
    white-space: nowrap;
    vertical-align: middle !important;
    background-image: none;
    border-radius: 4px;
    margin-left: 0;
    -webkit-transition: background-color 150ms linear;
    -moz-transition: background-color 150ms linear;
    -o-transition: background-color 150ms linear;
    -ms-transition: background-color 150ms linear;
    transition: background-color 150ms linear;
    &.pointer {
        &:hover {
            -webkit-transition: background-color 150ms linear;
            -moz-transition: background-color 150ms linear;
            -o-transition: background-color 150ms linear;
            -ms-transition: background-color 150ms linear;
            transition: background-color 150ms linear;
            background-color: $border-color;
            -ms-touch-action: manipulation;
            touch-action: manipulation;
            cursor: pointer;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
        }
    }
    &.deleting {
        -webkit-transition: opacity linear 150ms, margin-left linear 150ms;
        -moz-transition: opacity linear 150ms, margin-left linear 150ms;
        -o-transition: opacity linear 150ms, margin-left linear 150ms;
        -ms-transition: opacity linear 150ms, margin-left linear 150ms;
        transition: opacity linear 150ms, margin-left linear 150ms;
        margin-left: -300px;
        opacity: 0;
    }
}

.list-panel-body {
    padding-top: 5px;
}

.list-element-control {
    top: 0;
    margin-left: 5px;
    padding: 0;
    vertical-align: middle;
    color: $font-color;
    &.pointer-delete {
        &:hover {
            cursor: pointer;
            color: $color-delete;
        }
    }
    &.pointer-primary {
        &:hover {
            cursor: pointer;
            color: $font-color-dark;
        }
    }
}

.delete-reject-container {
    padding: 5px 14px;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: block;
    opacity: 1;
    cursor: default;
    background-color: $font-color-light;
    background-image: repeating-linear-gradient(45deg, transparent, transparent 5px, rgba(255, 255, 255, .5) 5px, rgba(255, 255, 255, .5) 10px);
}

.delete-reject-container.ng-hide-add,
.delete-reject-container.ng-hide-remove {
    -webkit-transition: opacity linear 150ms;
    -moz-transition: opacity linear 150ms;
    -o-transition: opacity linear 150ms;
    -ms-transition: opacity linear 150ms;
    transition: opacity linear 150ms;
}

.delete-reject-container.ng-hide {
    opacity: 0;
}
