@import 'color-palette.scss';

.custom-header {
    .navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
        background-color: white;
        border-color: white;
    }

    .navbar-toggle:hover, .navbar-toggle:focus {
        .icon-bar {
            background-color: $color-primary;
        }
    }

    .navbar-brand {
        color: white;
        font-weight: bolder;
        &:hover {
            color: $font-color-light;
        }
    }
    &.header {
        padding: 0;
        margin: 0;
        z-index: 100;
    }
    .navbar {
        margin: 0;
        border: 0;
        background-color: $color-primary;
        border-bottom: 5px solid $color-primary-darker;
        border-radius: 0;
    }
    .nav.navbar-nav a {
        color: white;
        &:hover {
            color: $font-color-light;
        }
        &:focus {
            color: white;
        }
    }
    .dropdown.open .dropdown-toggle {
        background-color: $color-primary-darker;

        &:focus {
            background-color: $color-primary-darker;
            color: white;
        }
        &:hover {
            color: white;
        }
    }
    .nav.navbar-nav .dropdown-menu a{
        color: $font-color-darker1;
    }
}
