@import 'color-palette.scss';
div.panel {
    border-radius: 2px;
    &.panel-primary {
        border-color: $color-primary;
    }
    &.panel-primary > .panel-heading {
        background-color: $color-primary;
        border-color: $color-primary;
    }
}
div.panel > .panel-heading {
    border-radius: 2px;
}
.subpanel {
    border-right: 0;
    border-left: 0;

    .panel-heading {

    }

    .panel-title {
        font-size: 14px;
    }

    .panel-body {

    }
}
