@import 'color-palette.scss';
div.panel {
    border-radius: 2px;
    &.panel-primary {
        border-color: $color-primary;
    }
    &.panel-primary > .panel-heading {
        background-color: $color-primary;
        border-color: $color-primary;
    }

    .panel-heading {
        border-radius: 2px;
    }

    .panel-title {
        display: inline-block;
    }

    .panel-footer .table {
      margin-bottom: 0;
    }
}

.panel.subpanel {
    border-right: 0;
    border-left: 0;
    border-radius: 0;

    .panel-heading {
      padding: 5px 15px;
      color: $font-color-darker1;
      background-color: $panel-color;
    }

    .panel-title {
        font-size: 14px;
    }

    .panel-body {

    }

}

.panel-group .subpanel + .subpanel {
  margin-top: 0;
}
